@import '../_variables';

.listItem {

  padding: 1.6rem 0;
  border-bottom: 1px solid $color-dividers;

  &__question {
    position: relative;
    padding-right: 2.5rem;
    list-style-type: none;
    font-size: $font-size-m;
    line-height: 2rem;
    outline: none;

    &::-webkit-details-marker {
      display: none;
    }
  }

  &__arrow {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    transition: .3s;
  }

  &__details[open] .listItem__question {
    color: $color-text-primary;
    font-weight: 700;
  }

  &__details[open] .listItem__arrow {
    transform: translateY(-50%) rotate(180deg);
  }

  &__answer {
    padding: 1.5rem 2.5rem 0 0;
    font-size: $font-size-s;
    line-height: 1.6rem;
  }
}

// desktop

// .listItem__question:hover {
//   color: $color-text-hover;
//   cursor: pointer;
// }