@import '../_variables';

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  min-height: 100vh;
  font-size: 62.5%;
}

body {
  background-image: linear-gradient($color-background-top, $color-background-bottom);
  color: $color-text-primary;
  font-family: $font-family-primary;
  font-size: 1.6rem;
}

.wrapper {
  display: flex;
  flex-direction: column;
  margin: 15rem 2rem 5rem;
  padding: 0 2.5rem 5rem;
  background-color: $color-white;
  border-radius: 20px;
  box-shadow: 0 10px 20px 0 #555;
}

.images {
  position: relative;
  margin-bottom: 14rem;

  &__mainImage {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -55%);
    padding-right: 30px;
  }

  &__shadowImage {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }
}

.faq__headline {
  margin-bottom: 2rem;
  font-size: $font-size-l;
  text-align: center;
}

@media (min-width: 768px) {
  .wrapper {
    margin: 15rem 6rem 5rem;
    padding: 0 4rem 5rem;
  }
}

@media (min-width: 1024px) {
  .wrapper {
    flex-direction: row;
    justify-content: space-between;
    margin: 10rem 6rem 5rem;
    padding: 7rem 6rem 7rem 0;
    overflow: hidden;
  }

  .images {
    flex-grow: 1;
    margin-bottom: 0;

    &__mainImage {
      top: 50%;
      left: 0;
      transform: translate(-80px, -50%);
      padding-right: 0px;
      z-index: 9;
    }

    &__shadowImage {
      top: 50%;
      left: 0;
      transform: translate(-570px, -58%);
    }

    &__boxImage {
      position: absolute;
      top: 50%;
      left: 0;
      transform: translate(-125px, -25%);
      z-index: 9;
    }
  }

  .faq {
    flex-basis: 45%;

    &__headline {
      text-align: left;
    }
  }
}

@media (min-width: 1280px) {
  .wrapper {
    margin: 10rem 20rem 5rem;
    padding: 7rem 10rem 7rem 0;
    overflow: visible;
  }
}