@import '../_variables';

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  min-height: 100vh;
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  background-image: linear-gradient($color-background-top, $color-background-bottom);
}

.wrapper {
  margin: 15rem 2rem 5rem;
  padding: 0 2rem 4rem;
  background-color: $color-white;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
}

.images {
  position: relative;
  margin-bottom: 14rem;

  &__mainImage {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -55%);
    padding-right: 30px;
  }

  &__shadowImage {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }
}

summary {
  // outline: none;
}

summary::-webkit-details-marker {
  // display: none;
}