@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

$color-white: #fff;
$color-background-top: #af68ea;
$color-background-bottom: #7b62e4;
$color-text-primary: #1d1e35;
$color-text-hover: #f47c57;
$color-text-secondary: hsl(237, 12%, 33%);
$color-dividers: #e7e7e9;

$font-size-s: 1.0rem;
$font-size-m: 1.2rem;
$font-size-l: 2.4rem;

$font-family-primary: 'Kumbh Sans',
sans-serif;